<header>
  <img src="assets/logo.png" alt="Fatias de Amor" class="img-fluid">
</header>

<div class="content" id="containerDiv">

  <swiper-container #swiper>

    <swiper-slide>
      <h4 class="text-center">Escolha sua casca</h4>
      <div class="row">
        <div class="col-6 mb-3" *ngFor="let casca of cascas;">
          <div class="casca" (click)="next(); selectCasca(casca)" [ngClass]="casca.selected ? 'selected' : ''">
            <img [src]="'assets/' + casca.imagem" class="casca-img">
            <div class="card-body">
              <h3 class="card-title font-weight-bold">{{casca.tipo}}</h3>
              <p class="card-text">R$ {{casca.valor + casca.adicional}}</p>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <h4 class="text-center">Escolha seu recheio</h4>
      <div class="row">
        <div class="col-6 mb-3" *ngFor="let recheio of recheios">
          <div class="recheio" [ngClass]="recheio.selected ? 'selected' :  ''" (click)="next(); selectRecheio(recheio)">
            <div class="recheio-wrapper">
              <img [src]="'assets/' + recheio.imagem" class="recheio-img" alt="...">
            </div>
            <div class="card-body">
              <h3 class="card-title font-weight-bold text-center">{{recheio.tipo}}</h3>
              <p *ngIf="recheio.valor + recheio.adicional > 0" class="card-text">R$ {{recheio.valor +
                recheio.adicional}}</p>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>



    <swiper-slide>
      <h4 class="text-center">Escolha seus adicionais</h4>
      <div class="row">
        <div class="col-6 mb-3" *ngFor="let adicional of adicionaisItems; let index=index;">
          <div class="casca" (click)="adicional.selected = !adicional.selected; addAdicional(index)"
            [ngClass]="adicional.selected ? 'selected' : ''">
            <img [src]="'assets/' + adicional.imagem" class="casca-img" alt="...">
            <div class="card-body">
              <h3 class="card-title font-weight-bold">{{adicional.tipo}}</h3>
              <p class="card-text">R$ {{adicional.valor + adicional.adicional}}</p>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>




</div>


<footer *ngIf="formGroup.value.total && formGroup.value.total > 0">

  <div class="input-pedido">
    <input type="text" [(ngModel)]="nome" placeholder="Seu nome" />
  </div>
  <div class="botao-pedido">
    <button (click)="enviarPedido()" class="button-19">R${{ formGroup.value.total }} <br /> Pedir</button>
  </div>

</footer>