header {
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background: linear-gradient(180deg, #fda9c4, #fc90b1, #fd80a6);
  img {
    height: 80px;
  }
}

.content {
  padding: 80px 0 90px 0;
}

footer {
  position: fixed;
  bottom: 0px;
  z-index: 9;
  width: 100%;
  background: linear-gradient(180deg, #fda9c4, #fc90b1, #fd80a6);
  padding: 10px;
  text-shadow: 1px 0px 2px rgb(0, 0, 0), 1px 0px 2px rgb(0, 0, 0);
  font-size: 16px;
  color: white;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .input-pedido {
    width: 60%;
    input {
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 0px;
      width: 100%;
      box-sizing: border-box;
      color: #2c3e50;
      font-size: 13px;
      &:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #ee0979;
        outline-width: 0;
        transition: All 0.5s ease-in;
        -webkit-transition: All 0.5s ease-in;
        -moz-transition: All 0.5s ease-in;
        -o-transition: All 0.5s ease-in;
      }
    }
  }

  .botao-pedido {
    width: 30%;
  }
}

.content {
  h4 {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    background: #210100;
    font-size: 27px;
    padding: 0px 0;
    line-height: 40px;
    font-family: "Rubik Doodle Shadow", system-ui;
  }

  .row {
    padding: 10px 15px;
  }
}

.casca,
.recheio {
  position: relative;
  box-shadow: -1px -2px 0px rgba(0, 0, 0, 0.1), 2px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 8px;
  height: 100%;

  h3 {
    font-family: "Rubik Doodle Shadow", system-ui;
    margin: 10px 0 0 0;
    font-size: 22px;
    line-height: 24px;
  }

  img {
    max-width: 100%;
  }

  .card-body {
    text-align: center;
  }

  .recheio-wrapper {
    border-radius: 47% 47% 20% 20%;
    overflow: hidden;
  }

  &.selected {
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.1),
      2px 2px 3px rgba(0, 0, 0, 0.4) inset;
    background: rgba(0, 0, 0, 0.1);
  }
}

.recheio {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  img {
    scale: 1.3;
  }
}

/* CSS */
.button-19 {
  appearance: button;
  background-color: #4caf50;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  text-shadow: 1px 1px 1px black;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #2c9731;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}
